# Updating this? Consider updating `.npmignore` as well.
npm-debug.log
yarn-error.log
package-lock.json

dist
module
tmp
node_modules
s3
coverage

.bundle
.sass-cache
.DS_Store
.idea
.vscode
data/csswhat

# Adding the following until https://github.com/storybookjs/storybook/issues/9282 is resolved

#
# Ignore unused language chunks and maps
#
react-syntax-highlighter_languages_highlight_*.*.bundle.js
react-syntax-highlighter_languages_highlight_*.*.bundle.js.map
vendors~react-syntax-highlighter_languages_highlight_*.*.bundle.js
vendors~react-syntax-highlighter_languages_highlight_*.*.bundle.js.map

#
# Unignore all the chunks storybook actually uses for MDX stories.
#
!react-syntax-highlighter_languages_highlight_jsx.*.bundle.js.map
!react-syntax-highlighter_languages_highlight_bash.*.bundle.js.map
!react-syntax-highlighter_languages_highlight_css.*.bundle.js.map
!react-syntax-highlighter_languages_highlight_html.*.bundle.js.map
!react-syntax-highlighter_languages_highlight_tsx.*.bundle.js.map
!react-syntax-highlighter_languages_highlight_typescript.*.bundle.js.map